/*Set Globals*/
:root {
  --background-color: #202138;
  --font-color: #ffffff;
  --accent-color: #f8e186;
}

body {
  margin: 20px;
  background-color: var(--background-color);
}

h1 {
  font-size: 50px;
  color: var(--font-color);
  padding-top: 10px;
  font-weight: bold;
}

h2 {
  font-size: 35px;
  color: var(--accent-color);
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 3px solid var(--font-color);
}

p {
  font-size: 16px;
  color: var(--font-color);
}

.timeCol {
  border: 3px solid var(--font-color);
  border-left: 3px solid transparent;
  padding: 20px 0px;
}

.taskCol {
  border: 3px solid var(--font-color);
  padding: 20px 10px;
}

.saveCol {
  border: 3px solid var(--font-color);
  padding: 20px 0px;
}

/*Header Styles*/
